In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings 
warnings.filterwarnings("ignore")
pd.options.display.max_columns = None

In [4]:
df = pd.read_csv("data/bikes.csv", index_col = 0 )

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    object
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(2)
memory usage: 97.0+ KB

In [7]:
df.sample(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
426,427,03-03-2019,spring,1,3,0,6,0,2,16.980847,20.67460,62.1250,10.792293,956,3110,4066
595,596,19-08-2019,autumn,1,8,0,0,0,2,26.069153,30.17770,71.1667,5.792150,1208,3341,4549
687,688,19-11-2019,winter,1,11,0,1,1,2,15.614153,18.78105,62.3333,15.749489,449,5050,5499
555,556,10-07-2019,autumn,1,7,0,2,1,2,29.554153,33.23980,66.7500,10.166379,954,5336,6290
661,662,24-10-2019,winter,1,10,0,3,1,1,24.087500,27.93605,63.6250,4.876206,795,6898,7693

In [ ]:
# en la columna yr, el 0 hace referencia a 2018 y el 1 2019 ---> cambiar a 2018 y 2019
# revisar estaciones segun meses 
# Los dias de la semana pasarlos a str (texto)
# Redondear temperaturas